@charset "UTF-8";
.full-height, html, body, .dashboard .card.header .card-block .left {
  min-height: 100%;
  height: 100%; }

body {
  color: #000;
  font-size: 14px;
  background-color: #f4f8f9; }

.img-bg {
  background-image: url("../images/fullscreen_bg_image.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

a {
  color: #007ee5; }
  a:focus {
    color: #007ee5;
    text-decoration: none; }
  a:hover {
    color: #000;
    text-decoration: none; }

.btn {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  padding: 0.5rem 2rem; }

.btn-primary:focus {
  color: #FFF; }

.card {
  -webkit-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.4); }
  @media screen and (max-width: 576px) {
    .card {
      border: 0; } }
  .card .card-title {
    font-weight: unset; }

.form-control {
  padding: 0.4rem 0.1rem;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

.form-group {
  position: relative;
  padding-top: 16px; }
  .form-group label {
    position: absolute;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  .form-group .off-focus {
    top: 20px;
    cursor: auto; }
  .form-group .on-focus {
    top: -4px;
    color: #b6bbbf;
    text-transform: uppercase; }

.square-image {
  width: 100%;
  background-color: pink;
  -webkit-transition: height 0.8s ease;
  -moz-transition: height 0.8s ease;
  -o-transition: height 0.8s ease;
  -ms-transition: height 0.8s ease;
  transition: height 0.8s ease;
  -webkit-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 19px -5px rgba(0, 0, 0, 0.36);
  background-image: url("../images/profile_image.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.stars-review {
  list-style: none;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0; }
  .stars-review li.star {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 0;
    color: #636c72; }
    .stars-review li.star:before {
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-right: -3px;
      font-family: "Ionicons";
      content: "";
      position: absolute;
      left: 0;
      top: -8px;
      font-size: 24px; }
    @media screen and (max-width: 576px) {
      .stars-review li.star {
        color: #007ee5; } }
  .stars-review li.star.active:before {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: -3px;
    font-family: "Ionicons";
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    font-size: 24px; }
  @media screen and (max-width: 576px) {
    .stars-review {
      display: block;
      margin-bottom: 3px; } }

.devices-editable {
  padding: 0.1rem 0.5rem;
  background-color: #ecf1f5;
  color: #636c72;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0; }
  .devices-editable:hover {
    background-color: #007ee5;
    color: #FFF; }

.devices-menu {
  position: absolute;
  top: 0;
  right: 0; }
  .devices-menu a {
    margin-right: 1rem; }
    .devices-menu a:last-child {
      margin-right: 0; }

.devices-menus {
  position: absolute;
  top: 0;
  right: 0; }
  .devices-menus a {
    margin-right: 1rem; }
    .devices-menus a:last-child {
      margin-right: 0; }

.hideItem {
  display: none; }

.withoutIcon:before {
  display: none; }

.cl-black {
  color: #000; }

.popover {
  min-width: 300px;
  padding: 1.3rem;
  border: 0;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.17); }
  .popover .btn:last-child {
    float: right; }
  .popover .popover-title {
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 0.79rem; }

.login {
  padding-top: 10em; }
  .login .card-title {
    margin-bottom: 1.8rem; }
    @media (max-width: 320px) {
      .login .card-title {
        margin-bottom: 1.5em; } }
    @media (min-width: 321px) and (max-width: 576px) {
      .login .card-title {
        margin-bottom: 2.5em; } }
  .login .card-block {
    padding: 1.8rem 2.5rem; }
    @media screen and (max-width: 576px) {
      .login .card-block {
        padding-top: 10%; } }
  .login .card-text {
    color: #b6bbbf;
    padding: 0 1rem;
    margin-bottom: 1.8rem; }
    @media screen and (max-width: 576px) {
      .login .card-text {
        padding: 0; } }
  .login .btn {
    padding: 0.8rem 1rem; }
  .login input {
    margin-bottom: 1.8rem; }
  .login hr {
    margin-bottom: 1.8rem; }
  .login .form-group {
    text-align: left; }
  @media screen and (max-width: 576px) {
    .login .justify-content-center {
      height: 100%; } }
  @media screen and (max-width: 576px) {
    .login .justify-content-center > div {
      padding: 0; } }
  @media screen and (max-width: 576px) {
    .login {
      padding: 0 15px;
      height: 100%; } }
  @media screen and (max-width: 576px) {
    .login .card {
      height: 100%; } }
  @media screen and (max-width: 576px) {
    .login .card hr {
      display: none; } }
  .login .btn {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
    @media screen and (max-width: 576px) {
      .login .btn {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; } }

.dashboard {
  padding-top: 5%; }
  @media screen and (max-width: 576px) {
    .dashboard {
      padding: 0; } }
  .dashboard .card.header {
    height: 250px; }
    .dashboard .card.header .card-block {
      height: inherit;
      position: relative; }
      .dashboard .card.header .card-block > .row {
        margin-left: 0;
        margin-right: 0;
        height: 100%; }
        .dashboard .card.header .card-block > .row div:first-child {
          padding-left: 0;
          padding-right: 0; }
        .dashboard .card.header .card-block > .row div:last-child {
          padding-right: 0; }
      .dashboard .card.header .card-block .left {
        width: 110px;
        float: left;
        position: relative; }
        .dashboard .card.header .card-block .left .square-image {
          position: absolute;
          z-index: 100;
          bottom: 0;
          cursor: pointer; }
          @media screen and (max-width: 576px) {
            .dashboard .card.header .card-block .left .square-image {
              width: 30%;
              left: 50%;
              -webkit-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%); } }
        @media screen and (max-width: 576px) {
          .dashboard .card.header .card-block .left {
            width: 100%;
            height: 140px;
            min-height: auto; } }
      .dashboard .card.header .card-block .right {
        position: relative;
        width: calc(100% - 110px);
        height: 100%;
        float: left; }
        .dashboard .card.header .card-block .right .details-reviews {
          height: 50%;
          position: absolute;
          width: 100%;
          bottom: 0;
          padding-right: 0; }
          .dashboard .card.header .card-block .right .details-reviews .row {
            height: 100%; }
          .dashboard .card.header .card-block .right .details-reviews .details {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            position: absolute;
            bottom: 10px; }
            .dashboard .card.header .card-block .right .details-reviews .details li {
              margin-bottom: 3px; }
              .dashboard .card.header .card-block .right .details-reviews .details li:last-child {
                margin-bottom: 0; }
                @media screen and (max-width: 576px) {
                  .dashboard .card.header .card-block .right .details-reviews .details li:last-child {
                    margin-bottom: 5px; } }
            .dashboard .card.header .card-block .right .details-reviews .details .name {
              font-size: 1.1rem;
              font-weight: 600; }
              @media screen and (max-width: 576px) {
                .dashboard .card.header .card-block .right .details-reviews .details .name {
                  text-align: center; } }
            .dashboard .card.header .card-block .right .details-reviews .details .address {
              font-size: 0.8rem; }
              .dashboard .card.header .card-block .right .details-reviews .details .address i {
                font-size: 1rem;
                margin-right: 4px; }
            .dashboard .card.header .card-block .right .details-reviews .details .phone {
              font-size: 0.8rem; }
              .dashboard .card.header .card-block .right .details-reviews .details .phone i {
                font-size: 1rem;
                margin-right: 4px; }
            @media screen and (max-width: 576px) {
              .dashboard .card.header .card-block .right .details-reviews .details {
                position: relative;
                bottom: unset;
                margin-top: 0.7rem; } }
          .dashboard .card.header .card-block .right .details-reviews span.reviews {
            line-height: 16px;
            vertical-align: 4px;
            margin-left: 16px;
            color: #636c72; }
            @media screen and (max-width: 576px) {
              .dashboard .card.header .card-block .right .details-reviews span.reviews {
                margin-left: 0; } }
          @media screen and (max-width: 576px) {
            .dashboard .card.header .card-block .right .details-reviews {
              position: relative;
              padding-left: 0; } }
        @media screen and (max-width: 576px) {
          .dashboard .card.header .card-block .right {
            height: unset !important;
            width: 100%; } }
      .dashboard .card.header .card-block .cover-logout {
        width: calc(100% - 2.5rem);
        height: 50%;
        position: absolute; }
        .dashboard .card.header .card-block .cover-logout .btn.cover {
          text-transform: none;
          font-weight: unset;
          font-size: 14px;
          letter-spacing: 0.03em;
          color: #636c72;
          padding: 0.7rem 0.75rem 0.7em 2.5rem;
          position: absolute;
          left: 50%;
          bottom: 0;
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); }
          .dashboard .card.header .card-block .cover-logout .btn.cover i {
            position: absolute;
            left: 13px;
            font-size: 20px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%); }
          @media (min-width: 768px) and (max-width: 991px) {
            .dashboard .card.header .card-block .cover-logout .btn.cover {
              -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              bottom: unset;
              top: 50%; } }
        .dashboard .card.header .card-block .cover-logout .btn.logout {
          padding: 0.4rem 1rem; }
          .dashboard .card.header .card-block .cover-logout .btn.logout .focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none; }
          .dashboard .card.header .card-block .cover-logout .btn.logout:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none; }
          @media screen and (max-width: 576px) {
            .dashboard .card.header .card-block .cover-logout .btn.logout:hover {
              background-color: transparent;
              color: #636c72; } }
          @media screen and (max-width: 576px) {
            .dashboard .card.header .card-block .cover-logout .btn.logout {
              padding: 0;
              border: 0; } }
        @media screen and (max-width: 576px) {
          .dashboard .card.header .card-block .cover-logout {
            height: unset; } }
    .dashboard .card.header .navbar {
      position: absolute;
      bottom: 0;
      z-index: 90;
      width: 100%;
      border-top: solid 2px #f6f6f6;
      padding-top: 0;
      padding-right: 1.25rem;
      padding-bottom: 0;
      padding-left: calc(110px + 1.25rem + 1rem); }
      .dashboard .card.header .navbar .active {
        border-bottom: solid 2px #007ee5; }
      .dashboard .card.header .navbar span.navbar-text {
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative; }
        .dashboard .card.header .navbar span.navbar-text .icon {
          position: absolute;
          top: 50%;
          left: -30px;
          font-size: 1.5em;
          cursor: pointer;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
        @media screen and (max-width: 576px) {
          .dashboard .card.header .navbar span.navbar-text {
            position: absolute;
            top: -55px;
            left: 50px; } }
        @media screen and (max-width: 991px) {
          .dashboard .card.header .navbar span.navbar-text {
            float: right; } }
      @media screen and (max-width: 991px) {
        .dashboard .card.header .navbar .nav-item {
          display: inline-block; } }
      .dashboard .card.header .navbar .nav-item a {
        padding: 1rem 0;
        margin-right: 1.5rem;
        color: #000; }
        @media screen and (max-width: 576px) {
          .dashboard .card.header .navbar .nav-item a {
            margin-right: 0.6rem; } }
      @media screen and (max-width: 991px) {
        .dashboard .card.header .navbar .navbar-nav {
          margin-right: 0 !important;
          display: inline-block; } }
      @media screen and (max-width: 576px) {
        .dashboard .card.header .navbar .navbar-collapse {
          max-height: 55px; } }
      @media screen and (max-width: 576px) {
        .dashboard .card.header .navbar {
          position: relative;
          padding-left: 1.25rem;
          margin-top: 25px;
          background-color: #FFF;
          -webkit-box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.4);
          -moz-box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.4); } }
    @media screen and (max-width: 576px) {
      .dashboard .card.header {
        height: auto;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0; } }
  .dashboard .card.body {
    min-height: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .dashboard .card.body .card-block {
      padding-top: 2rem;
      padding-bottom: 2rem; }
      @media screen and (max-width: 576px) {
        .dashboard .card.body .card-block {
          padding-top: 1rem;
          padding-bottom: 1rem; } }
    .dashboard .card.body .card-title {
      color: #636c72;
      letter-spacing: 0.001em;
      margin-bottom: 2rem; }
      @media screen and (max-width: 576px) {
        .dashboard .card.body .card-title {
          margin-bottom: 1rem; } }
    .dashboard .card.body .editableInputs {
      list-style: none;
      display: block;
      padding-left: 0;
      margin-bottom: 0; }
      .dashboard .card.body .editableInputs li {
        display: block;
        position: relative;
        margin-bottom: 2px;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem; }
        .dashboard .card.body .editableInputs li .inputText {
          padding: 0.7rem 0;
          padding-left: 2rem;
          padding-right: 1rem;
          background-color: #f4f8f9; }
          @media screen and (max-width: 576px) {
            .dashboard .card.body .editableInputs li .inputText {
              padding-top: 0;
              padding-bottom: 0;
              padding-left: 1.5rem;
              background-color: transparent; } }
        .dashboard .card.body .editableInputs li .inputIcon {
          background: #ecf1f5;
          color: #636c72;
          padding: 0.7rem 1rem;
          cursor: pointer; }
          .dashboard .card.body .editableInputs li .inputIcon:hover {
            background-color: #007ee5;
            color: #FFF; }
          @media screen and (max-width: 576px) {
            .dashboard .card.body .editableInputs li .inputIcon {
              display: none; } }
        .dashboard .card.body .editableInputs li:first-child {
          padding-top: 0.6rem;
          padding-bottom: 0.6rem; }
          .dashboard .card.body .editableInputs li:first-child .inputText {
            padding: 0.6rem;
            font-size: 1rem;
            font-weight: 600; }
            @media screen and (max-width: 576px) {
              .dashboard .card.body .editableInputs li:first-child .inputText {
                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0; } }
          .dashboard .card.body .editableInputs li:first-child .inputIcon {
            padding-top: 0.72rem;
            padding-bottom: 0.65rem; }
          @media screen and (max-width: 576px) {
            .dashboard .card.body .editableInputs li:first-child {
              padding-top: 0.2rem;
              padding-bottom: 0.2rem; } }
        .dashboard .card.body .editableInputs li:before {
          width: 17px;
          height: 17px;
          position: absolute;
          top: 15px;
          left: 9px;
          font-family: "Ionicons";
          font-size: 19px;
          color: #636c72;
          line-height: 16px; }
          @media screen and (max-width: 576px) {
            .dashboard .card.body .editableInputs li:before {
              top: 6px; } }
        .dashboard .card.body .editableInputs li:nth-child(2):before {
          content: ""; }
          @media screen and (max-width: 576px) {
            .dashboard .card.body .editableInputs li:nth-child(2):before {
              left: 2px; } }
        .dashboard .card.body .editableInputs li:nth-child(3):before {
          content: "";
          padding-left: 0.2rem; }
          @media screen and (max-width: 576px) {
            .dashboard .card.body .editableInputs li:nth-child(3):before {
              left: 1px; } }
        .dashboard .card.body .editableInputs li:nth-child(4):before {
          content: "";
          padding-left: 0.1rem; }
          @media screen and (max-width: 576px) {
            .dashboard .card.body .editableInputs li:nth-child(4):before {
              left: 1px; } }
        @media screen and (max-width: 576px) {
          .dashboard .card.body .editableInputs li {
            padding-top: 0.2rem;
            padding-bottom: 0.2rem; } }
    @media screen and (max-width: 576px) {
      .dashboard .card.body {
        border-radius: 0;
        margin-top: 1rem;
        margin-bottom: 1rem;
        min-height: unset; } }
    .dashboard .card.body .settingsContainer {
      width: 300px; }
      .dashboard .card.body .settingsContainer .btn {
        margin-top: 1rem; }
      @media screen and (max-width: 576px) {
        .dashboard .card.body .settingsContainer {
          width: unset; } }

/*# sourceMappingURL=main.css.map */
